<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let user of userResponse?.users'>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.dateOfBirth }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td><button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
          <button (click)="showDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>
